Options +FollowSymlinks
RewriteEngine on

RewriteRule ^api/addMember/([0-9A-Za-z]+)$   addMember.php?account=$1 [nc,qsa]
RewriteRule ^api/getBalance/([0-9A-Za-z]+)$   getBalance.php?account=$1 [nc,qsa]
RewriteRule ^api/updateBalance/([0-9A-Za-z]+)/([A-Z]+)/([0-9]+)/([0-9]+)$   updateBalance.php?account=$1&type=$2&money=$3&transid=$4 [nc,qsa]
RewriteRule ^api/checkDetail/([0-9A-Za-z]+)/([0-9]+)$   checkDetail.php?account=$1&transid=$2 [nc,qsa]
# RewriteRule ^site/list/([0-9]+)/$   RestController.php?view=single&id=$1 [nc,qsa]